body {
  padding: 6em;
  background-color: #2727e6;
  color: white;
  font-family: "PX Grotesk", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
}

p {
  font-size: 1.4em;
  margin-bottom: 0;
}